


body{
    background-color:black ;
}

nav{
    display:block;
    background-color: orange;
    display: flex;
    justify-content: space-around;
  
    

    
}

.slideshow-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    
    

}
.slide-img{
    width: 100%;
}
footer{
    
   
    color: white;


    background-color: orange;
    
    

    
}
.footpage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    color: white;
    align-content: right;
    
   
}

h1, h2, h3{
    color: white;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

   

nav a {
    text-align: center;
    color: rgb(252, 249, 249);
    text-decoration: none;
    padding: 35px;
}
#footpage1{
    justify-self: right;
}
footer a{
    text-align: center;
    color: rgb(252, 249, 249);
    text-decoration: none;
    padding: 0.5em;
    
    
    
}
.contact{
  grid-column: 1/1;
  text-align: center;
  list-style: none;
  align-self: center;
  
  
  
  
    
}
.second-nav{
    grid-column: 2/2;
    text-align: center;
    list-style: none;
    align-self: center;
   
}

.footer-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}
    
footer li{
    padding: 0.5em;
}

.social-media{
    padding: 1em;
}